doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
        title #{pageTitle} | Wetube
    body 
        header 
            h1=pageTitle 
            nav 
                ul 
                    li 
                            a(href="/") HOME
                    li 
                            a(href="/search") Serach
                    if loggedIn
                        li 
                            a(href="users/edit") Edit-Profile 
                        li 
                            a(href="users/logout") logout
                        li 
                            a(href="/my-profile") #{loggedInUser.name}의 Profile 
                    else      
                        li 
                            a(href="/join") Join Now 
                        li 
                            a(href="/login") login 
                    li                          
                            a(href="video/upload") Upload Video              
    main 
        block content
    footer 
        include partials/footer