extends base.pug



block content 
    h4 Update Title of #{video.title}
    form(method="POST")
        input(name="title",placeholder="Video Title" value= video.title,required)    
        input(type="text" name="description" value=video.description required)
        input(type="text" name="hashtags"  value=video.hashtags.join()  placeholder="hashtag" required)
        input(value="Save",type="submit")