extends base.pug

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(placeholder="user name", type="text", name="username", required)
        input(placeholder="password", type="password", name="password", required)
        input(type="submit" value="Join now")
        br
        a(href="/users/github/start") Continue with Github 
    hr
    div 
        span Don't have an account?
        a(href="join") Create one now &rarr;


    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.4.0/kakao.min.js" integrity="sha384-mXVrIX2T/Kszp6Z0aEWaA8Nm7J6/ZeWXbL8UpGRjKwWe56Srd/iyNmWMBhcItAjH" crossorigin="anonymous"></script>
    <script>
    Kakao.Auth.authorize({
    const URL = "localhost:4000/login"
    redirectUri: '${url}',
});
    <script>
