extends base.pug

block content 
    h3 hello from upload!
    form(method="POST" action="/video/upload")
        input(type="text" name="title" placeholder="videoTitle" required)
        input(value="upload!!",type="submit")