
loader#load

header
    div.logo
        div 
            a(href="/")
                i(class="fa-brands fa-youtube" style="color: #f00054;") wetube
        div 
            h1=pageTitle
        div 
            h1 what are you doing?

    nav.menu
        ul 
            li 
                a(href="/search") Search
            if loggedIn
                li                          
                    a(href="video/upload") Upload Video    
                li 
                    a(href="users/edit") Edit-Profile 
                li 
                    a(href=`/users/${loggedInUser._id}`) My Profile   
                li 
                    a(href="users/logout") logout
                li 
                    a(href="/my-profile") #{loggedInUser.name}의 Profile 
            else      
                li 
                    a(href="/join") Join Now 
                li 
                    a(href="/login") login 

block scripts  
        script( async src="https://kit.fontawesome.com/f2e0cef0ae.js" crossorigin="anonymous")              
        script( defer src="/static/js/loading.js")